@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scroll::-webkit-scrollbar {
    width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #e8efff; /* color de fondo del chat */
    border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #3b82f6; /* text-blue-600 */
    border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-button {
    background-color: #3b82f6; /* text-blue-600 */
    height: 4px;
}

.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #3b82f6 #e8efff;
}

.Toastify__toast {
    font-family: 'Outfit', 'sans-serif';
}
